.search-client {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-input-container {
    max-width: 300rem;
    width: 100%;
}

.search-input {
    color: dimgray;
    margin-top: 0.5rem;
    overflow: hidden;
    display: flex;
    background: white;
    border: solid 1px var(--mediumgray);
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;

}

.search-input:focus-within {
    border-color: var(--blue);
}

.search-input input {
    flex-grow: 1;
    background: white;
}

.search-input input, .search-input a {
    padding: 0.5rem 1rem;
}
.suggestions {
    list-style: none;
    margin: 2rem 0;
    padding: 0;
    border: 1px solid #ccc;
    background: white;
    position: absolute;
    z-index: 1000;
    box-sizing: border-box; /* Inclut les bordures dans la largeur totale */
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

@media (min-width: 48rem) {
    .search-input-container {
        margin: 3rem 0;
    }
}
